.topic-list {
	.category-item {
		-webkit-box-shadow: inset 0px 0px 2px 2px #ffffff;
		box-shadow: inset 0px 0px 2px 2px #ffffff;
		-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.3);
		box-shadow: 0 1px 2px rgba(0,0,0,0.3);
		&.unread {
			border-left: 2px solid $primary;
			margin-left: -2px;
		}
	}
}

.category-item {
	[component="topic/select"] {
		line-height: 55px;
	}

	.category-box {
		margin-top: -10px;

		.category-info {
			background: $card-cap-bg;
			border-bottom: 1px solid $card-cap-bg;
		}
	}
	// arrow inside category box
	.category-box:after, .category-box:before {
		bottom: 100%;
		left: 10%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
	}
	.category-box:after {
		border-color: rgba(140, 113, 242, 0);
		border-bottom-color: $card-cap-bg;
		border-width: 10px;
		margin-left: -10px;
	}
	.category-box:before {
		border-color: rgba(122, 98, 211, 0);
		border-width: 12px;
		margin-left: -12px;
	}

	.post-preview {
		border-bottom: 1px dashed $border-color;
		&:last-child {
			border-bottom: none;
		}

		.post-preview-content {
			max-height: 250px;
			img {
				display: block;
				max-width: 100%;
				height: auto;
			}
		}
	}
}

