.shadow-xs {
	box-shadow: 0 1px 10px rgba($black, 0.15);
}

@import "whiteplum";
@import "keyframes";

@import "category";
@import "topic";

// disable fluid toggle on chats
.page-user-chats {
	.overlay-container .resizer { display: none!important;}
}
